<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Search Engine -->
  <meta name="description" content="{{ page_description }}">

  {% block fonts %}{% endblock %}

  <link rel="stylesheet" href="static/stylesheets/main.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  {% block head_end %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %} ">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  {% block main %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
  {% block body_end %}{% endblock %}
</body>
</html>